<div class="row">
  <div class="col-8 offset-2">
    <h1>Welcome to your Profile Manager!!</h1>
    <form class="clearfix mb-4" action="POST">
      <div class="form-group">
        <label for="name-text">Name</label>
        <textarea class="form-control" id="name-text" aria-describedby="name-description" placeholder="John Doe">{{user.name}}</textarea>
      </div>
      <h3>Describe Your Best Self:
      </h3>
      <div class="form-group">
        <label for="what-description">What Are You? (Separate with commas)</label>
        <textarea class="form-control" id="what-description" aria-describedby="what-description" placeholder="Programmer, Christian, Writer . . .">{{user.nouns}}</textarea>
      </div>
      <div class="form-group">
        <label for="who-description">Who Are You? (Separate with commas)</label>
        <textarea class="form-control" id="who-description" aria-describedby="who-description" placeholder="Funny, Generous, Worried . . .">{{user.adjectives}}</textarea>
      </div>
      <div class="form-group">
        <label for="do-description">What Do You Do? (Separate with commas)</label>
        <textarea class="form-control" id="do-description" aria-describedby="do-description" placeholder="Exercising, Reading . . .">{{user.verbs}}</textarea>
      </div>
      <button id="submit" class="btn btn-primary float-right">Submit</button>
    </form>

  </div>
</div>